body {
  background-color: #B4CFB0;
  font-family: Sans-serif;
}
hr {
  background-color:#E5E3C9;
  border-style: none;
  border-top-style: dotted;
  border-color: #E5E3C9;
  border-width: 15px;
  width: 30%;
}
img {
  height: 55%;
  width: 55%;
  border-style: none;
  border-top-style: dotted;
  border-right-style: dotted;
  border-left-style: dotted;
  border-bottom-style: dotted;
  border-color: silver;
}
h1 {
  color: #789395;
}
h3 {
  color: #789395;
}
strong {
  color: #334443;
}
P {
  font-family: Sans-serif;
}
