body {
  background-color: #C6FFC1;
  font-family: Sans-serif;
}
hr {
  background-color: #C6FFC1;
  border-style: none;
  border-top-style: dotted;
  border-color: #FFFBDF;
  border-width: 15px;
  width: 30%;
}
img {
  height: 55%;
  width: 55%;
  border-style: none;
  border-top-style: dotted;
  border-right-style: dotted;
  border-left-style: dotted;
  border-bottom-style: dotted;
  border-color: silver;
}
h1 {
  color: #334443;
}
h3 {
  color: #334443;
}
strong {
  color: #334443;
}
P {
  font-family: Sans-serif;
}
